/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
span {
  font-size: 1.6rem;
}
container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navSection {
  background: lightyellow;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid gray 2px;
}
@media (max-width: 600px) {
  .navSection {
    flex-direction: column-reverse;
  }
}
.navSection .navLogoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.navSection .navLogoSection img {
  width: 100%;
}
@media (max-width: 1000px) {
  .navSection .navLogoSection {
    width: 45%;
  }
}
@media (max-width: 800px) {
  .navSection .navLogoSection {
    width: 35%;
  }
}
@media (max-width: 600px) {
  .navSection .navLogoSection {
    width: 100%;
  }
}
.navSection .navTextSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.navSection .navTextSection .navTextSectionSub {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  height: 60px;
}
.navSection .navTextSection .navTextSectionSub .button {
  background-color: green;
  color: gold;
  padding: 2% 4%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navSection .navTextSection .navTextSectionSub .button:hover {
  color: green;
  background-color: gold;
}
@media (max-width: 600px) {
  .navSection .navTextSection .navTextSectionSub .button {
    width: 100%;
    border-radius: 0;
  }
  .navSection .navTextSection .navTextSectionSub .button:hover {
    color: green;
    background-color: gold;
  }
}
.navSection .navTextSection .navTextSectionSub a:link,
.navSection .navTextSection .navTextSectionSub a:hover,
.navSection .navTextSection .navTextSectionSub a:visited,
.navSection .navTextSection .navTextSectionSub a:active {
  text-decoration: none;
}
@media (max-width: 600px) {
  .navSection .navTextSection .navTextSectionSub {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: auto;
    background-color: green;
    border-bottom: solid gold 1px;
  }
  .navSection .navTextSection .navTextSectionSub .extraText {
    display: none;
  }
}
@media (max-width: 1000px) {
  .navSection .navTextSection {
    width: 55%;
  }
}
@media (max-width: 800px) {
  .navSection .navTextSection {
    width: 65%;
  }
}
@media (max-width: 600px) {
  .navSection .navTextSection {
    width: 100%;
    flex-direction: column;
  }
}
footer {
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
footer .footerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}
@media (max-width: 600px) {
  footer .footerNav .navTextSectionSub {
    width: 100%;
    border-bottom: solid gold 1px;
  }
}
@media (max-width: 1000px) {
  footer .footerNav {
    width: 75%;
  }
}
@media (max-width: 800px) {
  footer .footerNav {
    width: 80%;
  }
}
@media (max-width: 600px) {
  footer .footerNav {
    width: 100%;
    align-content: center;
    flex-direction: column;
    background-color: green;
    border-top: solid gold 1px;
  }
  footer .footerNav .button {
    background-color: green;
    color: gold;
    padding: 2% 4%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footerNav .button:hover {
    color: green;
    background-color: gold;
  }
}
@media (max-width: 600px) and (max-width: 600px) {
  footer .footerNav .button {
    width: 100%;
    border-radius: 0;
  }
  footer .footerNav .button:hover {
    color: green;
    background-color: gold;
  }
}
.headerSection {
  width: 100%;
  padding: 1% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1%;
}
.headerSection .headerBanner {
  width: 100%;
  padding: 1% 0;
}
.headerSection .headerBanner img {
  width: 100%;
}
.headerSection .headerSlogan {
  width: 90%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.headerSection .headerSlogan p {
  padding: 3%;
  width: 75%;
}
@media (max-width: 600px) {
  .headerSection .headerSlogan p {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .headerSection .headerSlogan {
    flex-direction: column;
  }
}
.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background: lightyellow;
  border-top: solid gray 1px;
  border-bottom: solid gray 1px;
}
.contentContainer .contentSection {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentContainer .contentSection .sectionOne {
  width: 100%;
}
.contentContainer .contentSection .sectionOne .contentFeatures {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2% 0;
}
.contentContainer .contentSection .sectionOne .contentFeatures .subSection {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  padding: 1%;
  justify-content: space-evenly;
  border-bottom: dashed gray 1px;
}
.contentContainer .contentSection .sectionOne .contentFeatures .subSection h4 {
  width: 40%;
  text-align: center;
  border: solid black 1px;
  background: white;
  box-shadow: 10px 10px 10px gray;
  padding: 1%;
}
@media (max-width: 1000px) {
  .contentContainer .contentSection .sectionOne .contentFeatures .subSection h4 {
    width: 48%;
    box-shadow: 6px 6px 6px gray;
  }
}
@media (max-width: 600px) {
  .contentContainer .contentSection .sectionOne .contentFeatures .subSection h4 {
    width: 48%;
    box-shadow: 2px 2px 2px gray;
  }
}
@media (max-width: 500px) {
  .contentContainer .contentSection .sectionOne .contentFeatures .subSection h4 {
    width: 95%;
  }
}
.contentContainer .contentSection .sectionOne .contentFeatures .subSection img {
  width: 40%;
  margin-bottom: 1%;
  box-shadow: 10px 10px 10px gray;
}
@media (max-width: 600px) {
  .contentContainer .contentSection .sectionOne .contentFeatures .subSection img {
    width: 48%;
    box-shadow: 2px 2px 2px gray;
  }
}
@media (max-width: 1000px) {
  .contentContainer .contentSection .sectionOne .contentFeatures .subSection img {
    width: 48%;
    box-shadow: 6px 6px 6px gray;
  }
}
@media (max-width: 500px) {
  .contentContainer .contentSection .sectionOne .contentFeatures .subSection img {
    width: 95%;
  }
}
.contentContainer .contentSection .sectionOne .contentFeatures .subSection:nth-child(even) {
  flex-direction: row-reverse;
}
@media (max-width: 1000px) {
  .contentContainer .contentSection .sectionOne .contentFeatures .subSection {
    width: 95%;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .contentContainer .contentSection .sectionOne .contentFeatures .subSection {
    width: 95%;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .contentContainer .contentSection .sectionOne .contentFeatures .subSection {
    flex-direction: column;
    padding: 2% 0;
    width: 100%;
  }
  .contentContainer .contentSection .sectionOne .contentFeatures .subSection:nth-child(even) {
    flex-direction: column;
  }
}
.contentContainer .contentSection .sectionTwo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.contentContainer .contentSection .sectionTwo .sectionTwoIMG {
  width: 25%;
}
.contentContainer .contentSection .sectionTwo .sectionTwoIMG img {
  width: 100%;
  margin: 5%;
  box-shadow: 10px 10px 10px gray;
}
@media (max-width: 1000px) {
  .contentContainer .contentSection .sectionTwo .sectionTwoIMG img {
    box-shadow: 6px 6px 6px gray;
  }
}
@media (max-width: 600px) {
  .contentContainer .contentSection .sectionTwo .sectionTwoIMG img {
    box-shadow: 2px 2px 2px gray;
  }
}
@media (max-width: 500px) {
  .contentContainer .contentSection .sectionTwo .sectionTwoIMG {
    display: none;
  }
}
.contentContainer .contentSection .sectionTwo .sectionTwoInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
}
.contentContainer .contentSection .sectionTwo .sectionTwoInfo .contentCreateEvent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5%;
}
@media (max-width: 500px) {
  .contentContainer .contentSection .sectionTwo .sectionTwoInfo .contentCreateEvent {
    border-bottom: dashed gray 1px;
    padding-bottom: 5%;
    margin-bottom: 0;
  }
}
.contentContainer .contentSection .sectionTwo .sectionTwoInfo .contentRSVP {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5%;
}
@media (max-width: 1000px) {
  .contentContainer .contentSection .sectionTwo .sectionTwoInfo .contentRSVP {
    margin: 8% 5%;
  }
}
@media (max-width: 500px) {
  .contentContainer .contentSection .sectionTwo .sectionTwoInfo .contentRSVP {
    padding-top: 5%;
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .contentContainer .contentSection .sectionTwo .sectionTwoInfo {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .contentContainer .contentSection {
    width: 90%;
    justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .contentContainer .contentSection {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .contentContainer .contentSection {
    width: 100%;
    justify-content: space-between;
  }
}
