/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
span {
  font-size: 1.6rem;
}
container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navSection {
  background: lightyellow;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid gray 2px;
}
.navSection .navLogoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.navSection .navLogoSection img {
  width: 100%;
  animation-name: blurLogo;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
.navSection .navTextSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.navSection .navTextSection .navTextSectionSub {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 33%;
}
.navSection .navTextSection .navTextSectionSub .button {
  background-color: green;
  color: gold;
  padding: 2% 4%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navSection .navTextSection .navTextSectionSub .button:hover {
  color: green;
  background-color: gold;
}
footer {
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
footer .footerNav .navTextSectionSub {
  padding: 1%;
}
.headerSection {
  width: 100%;
  padding: 1% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1%;
}
.headerSection .headerBanner {
  width: 100%;
  padding: 1% 0;
}
.headerSection .headerBanner img {
  width: 100%;
}
.headerSection .headerSlogan {
  width: 90%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.headerSection .headerSlogan p {
  padding: 3%;
  width: 75%;
}
.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background: lightyellow;
  border-top: solid gray 1px;
  border-bottom: solid gray 1px;
}
.contentContainer .contentSection {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentContainer .contentSection .sectionOne {
  width: 100%;
}
.contentContainer .contentSection .sectionOne .contentFeatures {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2% 0;
}
.contentContainer .contentSection .sectionOne .contentFeatures .subSection {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  justify-content: space-evenly;
  border-bottom: dashed gray 1px;
}
.contentContainer .contentSection .sectionOne .contentFeatures .subSection p {
  width: 40%;
  text-align: center;
  border: solid black 1px;
  background: white;
}
.contentContainer .contentSection .sectionOne .contentFeatures .subSection img {
  width: 40%;
  margin-bottom: 1%;
  box-shadow: 10px 10px 10px gray;
}
.contentContainer .contentSection .sectionOne .contentFeatures .subSection:nth-child(even) {
  flex-direction: row-reverse;
}
.contentContainer .contentSection .sectionTwo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentContainer .contentSection .sectionTwo .sectionTwoIMG img {
  width: 100%;
  box-shadow: 10px 10px 10px gray;
}
.contentContainer .contentSection .sectionTwo .sectionTwoInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.contentContainer .contentSection .sectionTwo .sectionTwoInfo .contentCreateEvent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5%;
}
.contentContainer .contentSection .sectionTwo .sectionTwoInfo .contentRSVP {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5%;
}
