footer {
    width: 100%;
    .pad();
    .flexCenter();
    flex-direction: column;
    .copyright{
        .flexCenter();
    }
    .footerNav{
        .flexCenter();
        width: 50%;
        .navTextSectionSub{
            .pad();
        }
    }
}