.headerSection{
    width: 100%;
    padding: 1% 0;
    .flexCenter();
    flex-direction: column;
    .headerBanner{
        width: 100%;
        img{
            width: 100%;
        }
        padding: 1% 0;
    }
    .headerSlogan{
        width: 90%;
        padding: 1%;
        .flexCenter();
        justify-content: space-around;
        p{
            .pad(3%);
            width: 75%;
            @media @mobile1{
                width: 100%;
            }
        }
        @media @mobile1{
            flex-direction: column;
        }
    }
    margin-bottom: 1%;
}

.contentContainer{
    .flexCenter();
    width: 100%;
    flex-direction: column;
    background: @themeColor1;
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
    .contentSection {
        width: 80%;
        .flexCenter();
        flex-direction: column;
        .sectionOne{
            width: 100%;
            .contentFeatures{
                width: 100%;
                .flexCenter();
                flex-direction: column;
                margin: 2% 0;
                .subSection{
                    width: 80%;
                    .flexCenter();
                    margin-bottom: 1%;
                    .pad();
                    justify-content: space-evenly;
                    border-bottom: dashed gray 1px;
                    h4{
                        width: 40%;
                        text-align: center;
                        border: solid black 1px;
                        background: white;
                        box-shadow: 10px 10px 10px gray;
                        .pad();
                        @media @tablet1 {
                            width: 48%;
                            box-shadow: 6px 6px 6px gray;
                        }
                        @media @mobile1{
                            width: 48%;
                            box-shadow: 2px 2px 2px gray;
                        }
                        @media @mobile2{
                            width: 95%;
                        }
                    }
                    img{
                        width: 40%;
                        margin-bottom: 1%;
                        box-shadow: 10px 10px 10px gray;
                        @media @mobile1{
                            width: 48%;
                            box-shadow: 2px 2px 2px gray;
                        }
                        @media @tablet1 {
                            width: 48%;
                            box-shadow: 6px 6px 6px gray;
                        }
                        @media @mobile2{
                            width: 95%;
                        }
                    }
                    &:nth-child(even){
                        flex-direction: row-reverse;
                    }
                    @media @tablet1{
                        width: 95%;
                        justify-content: space-between;
                    }
                    @media @mobile1{
                        width: 95%;
                        justify-content: space-between;
                    }
                    @media @mobile2{
                        flex-direction: column;
                        &:nth-child(even){
                            flex-direction: column;
                        }
                        padding: 2% 0;
                        width: 100%;
                    }
                }//end subSection
            }//end contentFeatures
        }//end sectionOne
        .sectionTwo{
            width: 100%;
            .flexCenter();
            justify-content: space-between;
            .sectionTwoIMG{
                width: 25%;
                img{
                    width: 100%;
                    margin: 5%;
                    box-shadow: 10px 10px 10px gray;
                    @media @tablet1 {
                        box-shadow: 6px 6px 6px gray;
                    }
                    @media @mobile1{
                        box-shadow: 2px 2px 2px gray;
                    }
                }
                @media @mobile2{
                    display: none;
                }
            }//end sectionTwoIMG
            .sectionTwoInfo{
                .flexCenter();
                flex-direction: column;
                width: 70%;
                .contentCreateEvent{
                    .flexCenter();
                    flex-direction: column;
                    margin: 5%;
                    @media @mobile2 {
                        border-bottom: dashed gray 1px;
                        padding-bottom: 5%;
                        margin-bottom: 0;
                    }
                }
                .contentRSVP{
                    .flexCenter();
                    flex-direction: column;
                    margin: 5%;
                    @media @tablet1 {
                        margin: 8% 5%;
                    }
                    @media @mobile2{
                        padding-top: 5%;
                        margin-top: 0;
                    }
                }
                @media @mobile2{
                    width: 100%;
                }
            }
        }
        @media @tablet1{
            width: 90%;
            justify-content: space-between;
        }
        @media @tablet2{
            width: 95%;
        }
        @media @mobile1{
            width: 100%;
            justify-content: space-between;
        }
    }//end contentSection
}//end contentContainer


