.headerSection{
    width: 100%;
    padding: 1% 0;
    
    flex-direction: column;
    .headerBanner{
        width: 100%;
        img{
            width: 100%;
        }
        padding: 1% 0;
    }
    .headerSlogan{
        width: 80%;
        padding: 1% 0;
        p{
            .padV();
        }
    }
}