.bordertest(){
    border: solid red 1px;
}

.buttonStyle(@color: @color, @bgColor: @bgColor) {
    .button{
        background-color: @bgColor;
        color: @color;
        padding: 2% 4%;
        border-radius: 10px;
        .flexCenter();

        &:hover{
            color: @bgColor;
            background-color: @color;
        }
        @media @mobile1{
            &:hover{
                color: @bgColor;
                background-color: @color;
            }
            width: 100%;
            border-radius: 0;
        }
    }
    
}

.pad(@value: 1%){
    padding: @value;
}

.padV(@value: 1%){
    padding: @value 0;
}

.padH(@value: 1){
    padding: 0 @value;
}

.nopad(){
    padding: 0;
    margin: 0;
}

.flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}